# Bonus: Temperature Analysis I

In [46]:
import pandas as pd
from datetime import datetime as dt

In [47]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
style.use('seaborn')
import matplotlib.pyplot as plt
import seaborn as sns

In [48]:
import numpy as np
import pandas as pd
import datetime as dt

In [49]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from datetime import date
import matplotlib.mlab as mlab

In [50]:
# create engine to hawaii.sqlite
hawaii_engine = create_engine("sqlite:///resources/hawaii.sqlite")
hawaii_conn = hawaii_engine.connect()

In [51]:
# reflect an existing database into a new model
Base = automap_base()
Base.prepare(hawaii_engine, reflect = True)

Base.classes.keys()

['measurement', 'station']

In [52]:
#Source: https://docs.sqlalchemy.org/en/14/orm/extensions/automap.html

# reflect the tables

Base.prepare(hawaii_engine, reflect= True)

C:\Users\mom\anaconda3\lib\site-packages\sqlalchemy\orm\clsregistry.py:176: SAWarning: This declarative base already contains a class with the same class name and module name as sqlalchemy.ext.automap.measurement, and will be replaced in the string-lookup table.
  util.warn(
C:\Users\mom\anaconda3\lib\site-packages\sqlalchemy\orm\clsregistry.py:176: SAWarning: This declarative base already contains a class with the same class name and module name as sqlalchemy.ext.automap.station, and will be replaced in the string-lookup table.
  util.warn(

In [53]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [54]:
# Create our session (link) from Python to the DB
session = Session(hawaii_engine)

In [55]:
# Import Inspector
inspector = inspect(hawaii_engine)

In [56]:
# "tobs" is "temperature observations"
df = pd.read_csv("Resources/hawaii_measurements.csv")
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [57]:
# Convert the date column format from string to datetime

df['date'] = pd.to_datetime(df['date'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [58]:
# Set the date column as the DataFrame index
# Source: https://stackoverflow.com/questions/37610983/how-set-column-as-date-index
df.set_index('date', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19550 entries, 2010-01-01 to 2017-08-23
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   prcp     18103 non-null  float64
 2   tobs     19550 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 610.9+ KB

In [59]:
# # Drop the date column
#https://www.kite.com/python/answers/how-to-drop-the-index-column-of-a-pandas-dataframe-in-python
df.reset_index(drop=True, inplace=True)
df

           station  prcp  tobs
0      USC00519397  0.08    65
1      USC00519397  0.00    63
2      USC00519397  0.00    74
3      USC00519397  0.00    76
4      USC00519397   NaN    73
...            ...   ...   ...
19545  USC00516128  0.09    71
19546  USC00516128   NaN    78
19547  USC00516128  0.56    76
19548  USC00516128  0.50    76
19549  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [ ]:
from scipy import stats

In [64]:
# Filter data for desired months

# query_d_p = session.query(measurement.date).filter(measurement.date >= prior_year).all()
# new_df = pd.DataFrame(query_d_p, columns=['date', 'precipitation'])

# prior_year = dt.date(2017, 8, 23) - dt.timedelta(days = 365)
# query_d_p = session.query(measurement.date, measurement.prcp).filter(measurement.date >= prior_year).all()
# new_df = pd.DataFrame(query_d_p, columns=['date', 'precipitation'])
# new_df.set_index(new_df['date'], inplace = True)
# df = new_df.sort_index()
# ax = df.plot(rot = 90, title='Precipitation 08-23-2016- 08-23-2017')
# ax.set_ylabel("Precipitation(inches)")

datetime.date(2010, 5, 31)

In [ ]:
# Identify the average temperature for June

In [ ]:
# Identify the average temperature for December

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis